<%
try{
if(site){

}
    
}catch(e){
site=
   { sitename: '博客',
     footertitle: '页脚',
     footercontent: '页脚文字',
     footercorp: '© 2016 Suntao' }
}


%>
    <footer class="page-footer <%- site.footclr %> darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text"><%= site.footertitle %></h5>
                    <p class="grey-text text-lighten-4">
                        <%= site.footercontent %>
                    </p>
                    <!-- <p class="grey-text text-lighten-4">不如剑啸易水寒</p> -->
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                <%= site.footercorp %>
            </div>
        </div>
    </footer>
