<% var re =  /<img.*?src="(.*?)"/; %>
<% var url = article.content.match(re)[1] %>

<div class="card hoverable">
    <div class="card-image">
        <img src=<%- url %>>
        <span class="card-title">
            <%= article.title%></span>
    </div>
    <div class="card-content">
        <p>
            <%= article.content.replace(/<.*?>/g,' ').substr(0,50) %></p>
    </div>
    <div class="card-action">
        <a href=<%= '/articles/blog/'+article.id %>>更多</a>
    </div>
</div>